<div id='container'>
  <form novalidate class="simple-form">
    Title: <input type="text" ng-model="challengeInfo.title" /><br/>
    Description: <input type="text" ng-model="challengeInfo.message" /><br/>
    <label>Who do you want to challenge?
      <select ng-model="challengeInfo.challengee" ng-options="user.full_name for user in allUsers"></select>
    </label><br/>
    Wager: <input type="text" ng-model="challengeInfo.wager" /><br/>

    <pre>{{challengeInfo | json}}</pre>

    <input type="submit" ng-click="postChallenge(challengeInfo)" value="Create Challenge" />
  </form>
</div>
